* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
}

form {
  text-align: left;
  width: 500px;
  margin: 0 auto;
}
label {
  display: block;
  color: white;
}
input {
  display: block;
  text-align: left;
  width: 100%;
}

h3.menu {
  text-align: center;
  font-style: italic;
}

h1 {
  padding: 20px 0;
}

.location_container {
  display: flex;
  flex-wrap: wrap;
}

.location_map {
  width: 50%;
}
.location_address {
  width: 50%;
}

p.quote {
  font-size: 2rem;
  font-style: italic;
  padding: 30px 10px;
}

input[type=text], 
input[type=tel], 
input[type=date],
input[type=number],
textarea,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  border: 0.15rem solid #262626;
  color: #262626;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
}

input[type=submit]:hover {
  background: #262626;
  color: #d2aa5c;
  cursor: pointer;
}


